[Service]
ExecStart=/home/nvivn/.npm-global/bin/nvivn server --https
WorkingDirectory=/home/nvivn
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nvivn
User=nvivn
Group=nvivn
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target